html, ul, li, p, figure, header, h1, button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  font-family: sans-serif;
}

body {
  text-align: center;
  background: #eee;
}

header {
  margin: 25px 0;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

.score {
  border-radius: 10px;
  margin: auto;
  color: #fff;
  width: 300px;
  padding: 5px;
  font-size: 24px;
  background: #2196F3;
}

ul {
  border-radius: 5px;
  list-style: none;
  width: 305px;
  display: block;
}

.grid {
}

.holder {
  margin: 25px auto 0;
  border: 2px solid black;
  background: #fff;
  width: 300px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

inputs {
  display: block;
  width: inherit;
  background: #4CAF50;
  color: #fff;
}

li {
  vertical-align: middle;
  width: 19px;
  border-left: 1px solid #ddd;
  border-bottom:1px solid #ddd;
  height: 20px;
  float: left;
}

.message {
  margin: auto;
  color: white;
  width: 300px;
  padding: 10px 5px;
  background: #4CAF50;
  font-size: 24px;
  position: absolute;
  top: 128px;
  left: 0px;
}

.none {
  display: none;
}

.transparent {
  background: transparent;
  color: #4CAF50;
  font-size: 36px;
  position: absolute;
  top: 128px;
}

li.apple:after {
  content: "  ";
  display: block;
  /*vertical-align: center;*/
  height: inherit;
  width: inherit;
  background: #FFEB3B;
  border-radius: 100%;
}

li.snake {
  background: #673AB7;
  border-radius: 0;
}

li.snake.first {
  background: #4527A0;
}

button:hover {
  cursor: pointer;
}

input {
  padding: 10px;
  margin: 10px 5px 10px 15px;
}

.modal {
  position: relative;
}

.restart {
  font-size: 14px;
}
