html, ul, li, p, figure, header, h1, button, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
  font-family: sans-serif;
}

body {
  text-align: center;
  background: #eee;
}

header {
  margin: 25px 0;
}

h1 {
  font-weight: bold;
  font-size: 36px;
}

.score {
  border-radius: 10px;
  margin: auto;
  color: white;
  width: 300px;
  padding: 5px;
  font-size: 24px;
  background: #2196F3;
}

ul {
  border-radius: 5px;
  list-style: none;
  width: 305px;
  display: block;
}

.grid {
  margin: 25px auto 0;
  border: 2px solid black;
  width: 300px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

li {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  float: left;
  border: 1px solid silver;
  background: white;
}

.message {
  margin: auto;
  color: white;
  width: 290px;
  padding: 10px 5px;
  background: #4CAF50;
  font-size: 24px;
  position: absolute;
  top: 200px;
}

.none {
  display: none;
}

.transparent {
  background: transparent;
  color: #4CAF50;
  font-size: 36px;
  position: absolute;
  top: 200px;
}

li.apple {
  background: yellow;
}

li.snake {
  background: purple;
}

.new-game {
  border-radius: 10px;
  margin: auto;
  color: white;
  width: 310px;
  padding: 5px;
  background: #9C27B0;
  font-size: 24px;
  cursor: pointer;
  display: block;
}

button:hover {
  background: #7B1FA2;
}

input {
  padding: 10px;
  margin: 10px 5px 10px 15px;
}
